<p class="post-details">
	{% for category in include.post.categories %}
		<span class="blog-filter">
		    <a href="{{ site.baseurl }}/category/{{ category | slugify }}/">{{ category | capitalize }}</a>
		</span>
	{% endfor %}
    {% assign m = include.post.date | date: "%-m" %}
    {% case m %}
        {% when '1' %}{% m = 'Janeiro' %}
        {% when '2' %}{% m = 'Fevereiro' %}
        {% when '3' %}{% m = 'Março' %}
        {% when '4' %}{% m = 'Abril' %}
        {% when '5' %}{% m = 'Maio' %}
        {% when '6' %}{% m = 'Junho' %}
        {% when '7' %}{% m = 'Julho' %}
        {% when '8' %}{% m = 'Agosto' %}
        {% when '9' %}{% m = 'Setembro' %}
        {% when '10' %}{% m = 'Outubro' %}
        {% when '11' %}{% m = 'Novembro' %}
        {% when '12' %}{% m = 'Dezembro' %}
    {% endcase %}
	<span class="post-date">{{ include.post.date | date: "%d %m, %Y" }}</span>
</p>