<p class="post-details">
	{% for category in include.post.categories %}
		<span class="blog-filter">
		    <a href="{{ site.baseurl }}/category/{{ category | slugify }}/" style="background-color:#222;color:#fff">{{ category | capitalize }}</a>
		</span>
	{% endfor %}
	{% assign m = include.post.date | date: "%-m" %}
    {% case m %}
        {% when '1' %}{% assign m = 'Janeiro' %}
        {% when '2' %}{% assign m = 'Fevereiro' %}
        {% when '3' %}{% assign m = 'Março' %}
        {% when '4' %}{% assign m = 'Abril' %}
        {% when '5' %}{% assign m = 'Maio' %}
        {% when '6' %}{% assign m = 'Junho' %}
        {% when '7' %}{% assign m = 'Julho' %}
        {% when '8' %}{% assign m = 'Agosto' %}
        {% when '9' %}{% assign m = 'Setembro' %}
        {% when '10' %}{% assign m = 'Outubro' %}
        {% when '11' %}{% assign m = 'Novembro' %}
        {% when '12' %}{% assign m = 'Dezembro' %}
    {% endcase %}
	<span class="post-date">{{ include.post.date | date: "%d" }}{{ m }}{{ include.post.date | date: "%Y" }}</span>
</p>