<div class="container column position-search">
    <div class="header--block--input" data-aos="fade-up" data-aos-delay="" data-aos-offset="0" id="search-container">
        <div class="header--block--input--icon">
            <span class="feather-icon icon-search"></span>
        </div>
        <input class="input-search" type="text" name="" value="" placeholder="Buscar..." id="search-input">
    </div>
    <div class="search--block--result">
        <ul id="results-container"></ul>
    </div>
    
</div>